body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#profilePic {
    max-height: 300px;
    border-radius: 40px;
}

#page-container {
    position: relative;
    min-height: 100%;
    background-color: aliceblue;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

h2 {
    padding: .5em;
}

nav {
    display: flex;
    align-items: center;
}

#aboutMe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
#aboutMe p {
max-width: 70%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
}

#projects p {
    max-width: 70%;
}

.project {
    display: flex;
}

.project-title {
    display: flex;
    width: 14em;
    justify-content: center;
}

.project-title img {
    width: 10em;
}

#skills {
    display: flex;
    justify-content: center;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 5px;
    width: 10em;
    background-color: azure;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 3em;
    width: 100%;
    max-width: 900px;
    background-color: azure;
    z-index: 2;
}
/*.logo {
    margin: 0;
}*/
.nav-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
}

li {
    padding: .5em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#skills img {
    width: 5em;
    padding: 1em;
}

#contact img {
    width: 2em;
}

